.logo {
  max-width: 700px;
}
.o {
  fill-opacity: 0;
  stroke-dasharray: 1294 1296;
  stroke-dashoffset: 1295;
  animation: drawStroke 1000ms ease 0ms forwards,
    fadeStroke 250ms linear 1500ms forwards,
    fillPath 250ms linear 1500ms forwards;
}
.c {
  fill-opacity: 0;
  stroke-dasharray: 1053 1055;
  stroke-dashoffset: 1054;
  animation: drawStroke 1000ms ease 250ms forwards,
    fadeStroke 250ms linear 1500ms forwards,
    fillPath 250ms linear 1500ms forwards;
}
.f {
  fill-opacity: 0;
  stroke-dasharray: 949 951;
  stroke-dashoffset: 950;
  animation: drawStroke 1000ms ease 500ms forwards,
    fadeStroke 250ms linear 1500ms forwards,
    fillPath 250ms linear 1500ms forwards;
}
@keyframes drawStroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes fillPath {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}
@keyframes fadeStroke {
  to {
    stroke-opacity: 0;
  }
}
