.has-background-main {
  background-color: $scheme-main;
}
.has-background-main-bis {
  background-color: $scheme-main-bis;
}
.has-background-main-ter {
  background-color: $scheme-main-ter;
}
