// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #e7717d;

// Setup $colors to use as bulma classes (e.g. 'is-primary')
$colors: (
  "primary": (
    $primary,
    $primary-invert
  ),
  "link": (
    $primary,
    $primary-invert
  )
);

// Links
$link: $primary;
$link-focus-border: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$footer-padding: 2rem 3rem 2rem;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
