// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #e7717d;

// Setup $colors to use as bulma classes (e.g. 'is-primary')
$addColors: (
  "primary": (
    $primary,
    $primary-invert
  ),
  "link": (
    $primary,
    $primary-invert
  )
);
// Merge default colors with our custom choices
$colors: map-merge($colors, $addColors);

#app {
  // fixes empty space at bottom of page for short pages
  min-height: 100vh;
}

// Links
$link: $primary;
$link-focus-border: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$footer-padding: 2rem 3rem 2rem;

@import "src/assets/ocf-prism.scss";
@import "src/assets/_global-helpers.scss";

#app.dark {
  @import "src/assets/_dark-theme.scss";
  @import "src/assets/_global-helpers.scss";
  @import "src/assets/ocf-prism-okaida.scss";

  background-color: $black-bis;

  .navbar-item > .navbar-link:not(.is-arrowless)::after {
    border-color: $primary;
  }
  .control.has-icons-left,
  .control.has-icons-right {
    input.input ~ .icon {
      color: $grey-lighter;
    }
    input.input:focus ~ .icon {
      color: $white;
    }
  }

  p,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  span {
    color: $white;
  }

  .menu-label {
    color: $grey-lighter;
  }

  .is-divider,
  .is-divider-vertical {
    border-top: 0.1rem solid $black;
  }
  .is-divider-vertical[data-content]::after,
  .is-divider[data-content]::after {
    background-color: $black;
  }

  svg.logo {
    color: $white;
    path {
      stroke: $white;
    }
    defs > linearGradient {
      stop.logo-start {
        stop-color: $white;
      }
      stop.logo-end {
        stop-color: $grey-light;
      }
    }
  }

  .box,
  .card,
  .dropdown-content,
  .navbar-dropdown {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
      0 0px 0 1px rgba(10, 10, 10, 0.02);
  }

  .modal-background {
    background-color: rgba(21, 21, 21, 0.7);
  }
  .modal-content.animation-content {
    padding: 20px;
  }

  .modal:focus {
    outline: none;
  }
  .vuecal__cell--selected {
    background-color: rgba(21, 21, 21, 0.5);
  }

  .profile img {
    max-height: initial;
  }

  input[type="text"],
  select {
    background-color: inherit;
    color: $white;
  }
  input[type="text"]::-webkit-input-placeholder {
    color: $grey-light;
  }
  div.search > div.control > input.input {
    box-shadow: none;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }

  code {
    // taken from prism-okaida
    background-color: #262822;
    color: #e7717d;
  }

  .darkmode-invert {
    filter: invert(100%);
  }

  button.button {
    padding-left: 1em;
    padding-right: 1em;
  }
}

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
