// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #68b4d3;
$info: #687172;

// Setup $colors to use as bulma classes (e.g. 'is-primary')
$addColors: (
  "primary": (
    $primary,
    $primary-invert,
  ),
  "link": (
    $primary,
    $primary-invert,
  ),
  "info": (
    $info,
    $info-invert,
  ),
);
// Merge default colors with our custom choices
$colors: map-merge($colors, $addColors);

$table-striped-row-even-background-color: #fbe9eb;
$table-head-background-color: #fbe9eb;

// Links
$link: $primary;
$link-focus-border: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$footer-padding: 2rem 3rem 2rem;

$card-background-color: $primary;
$card-color: $primary-invert;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
